* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a0a23;
  height: 100vh;
  color: #fff;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: monospace;
	line-height: 1.5;
}


a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 125%;
}

/* HEADER */

header {
    background-color:#23230a;
    min-height: 8vh;
    max-height: 15vh;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding: 0 24px;
}

header li {
    list-style-type: none;
    color: white;
    font-size: 125%;
}

header a:hover {
    background-color: #0a0a23;
    /*color: #23230a;*/
}

.nav-links {
    width: 75%;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}

.nav-links a {
    margin: 0 15px;
}



