* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a0a23;
  height: 100vh;
  color: #fff;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: monospace;
	line-height: 1.5;
}

a {
		text-decoration: none;
		color: #fff;
}

h1 {
		font-size: 250%;
}

p {
		font-size: 125%
}

/* HEADER STYLE */

header {
  background-color: #22230a;
}

header div ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 35px;
  padding: 0 24px;
}
 li {
    list-style-type: none;
    color: white;
    font-size: 125%
}
.navLink {
  display: flex;
}
.navLink a {
  margin: 0 15px;
}

button {
	color: white;
    margin: 2%;
	padding: 5px 10px;
	font-size: 100%;
	border: none;
	border-radius: 25%;
	background-color: #22230a;
	width: auto;
}

